---
import "blue-web/dist/style.min.css"
import SimpleLayout from "blue-react/dist/components/SimpleLayout.js"
import HeaderTitle from "blue-react/dist/components/HeaderTitle.js"
import TranslatorDemo from "../components/TranslatorDemo"
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link rel="stylesheet" href="/inter/web/inter.css" />
        <title>Astro</title>
    </head>
    <body>
        <SimpleLayout>
            <Fragment slot="header">
                <HeaderTitle appTitle="Try AI APIs" />
            </Fragment>

            <div class="container">
                <TranslatorDemo client:idle />
            </div>
        </SimpleLayout>
    </body>
</html>
